/* Custom CSS File for Buyers to Modify */
body {
    background-color: #F5F5F5;
    background-image: url("../images/background-outer-wrapper.png");
    background-position: center bottom;
    background-repeat: repeat-x;
}
.header-wrapper {
    background-color: #F9F9F9;
    background-image: url("../images/bgTopo.jpg");
    background-position: center top;
    background-repeat: repeat-x;

    height: 155px;
}
#header-top{
	border:none;
}
.contact-number {
    top: 64px;
}
#logo{

}
.tag-line{
	display: none;
}
.menu-and-contact-wrap {
    height: 32px;
    left: 0;
    position: absolute;
    top: 0;
}
.main-menu {
    float: none;
    margin-top: 0;
}
.main-menu ul li a{
	color: #72869A;
    font-family: helvetica,arial;
    font-size: 1em;
    padding: 6px 10px;
    text-transform: uppercase;
}
.main-menu ul li ul{
	top: 32px;
}
.logo-heading{
	background-image: url("../images/logo.png");
}

.property-items .narrative h2{
	color: #044C6A;
	font-size: 2em;
	font-family: georgia;
	font-style: italic;
	font-weight: normal;
	margin: 0 auto;
	max-width: 523px;
}

/* acesso rapido */
	.bgTom01{
		background-color: #37B3D9;
	}
	.bgTom02{
		background-color: #044C6A;
	}
	.bgTom03{
		background-color: #50B43C;
	}
	
	#acessorapido, #acessorapido ul{
		display: table;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	#acessorapido ul li, #acessorapido ul li a{
		display: table-cell;
		height: 50px;
		text-align: center;
		vertical-align: middle;
		width: 33.333%;
	}
	#acessorapido ul li a{
		width: 21%;
	}
	#acessorapido ul li a{
		font-family: helvetica,arial;
		font-size: 1.1em;
		text-transform: uppercase;
		vertical-align: middle;
	}
	#acessorapido .bgTom01 a{
		color: #044C6A;
	}
	#acessorapido .bgTom02 a{
		color: #fff;
	}
	#acessorapido .bgTom03 a{
		color: #377B28;
	}
.main{
	border-bottom: 1px solid #DEDEDE;
}	
.es-carousel-wrapper .es-carousel {
    height: 75px;
}
.es-carousel-wrapper ul li{
	width: 153px !important;
}
.carousel{
	margin-bottom: 0;
}
.featured-properties-carousel.clearfix h4 {
    margin-top: -10px;
    text-align: center;
}
.featured-properties-carousel{
	border: 1px solid #DEDEDE;
}
#footer-wrapper {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-bottom: 0;
    color: #fff;
}